{% extends 'blog/base3.html' %}
{% block body %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#"></a>
            <small class="text-muted"></small>
            <div>
                <small class="text-muted"><a href="#"></a></small>
            </div>
        </div>
        <h3 class="text-center"> If you have any questions, please feel free to ask
            <form action="mailto:pejdaniel1000@gmail.com" method="post" enctype="text/plain" cellspacing="20">
                <button class="btn mt-3" type="submit">Contact Me</button>
            </form>
        </h3>
    </div>
</article>
<div class="text-center" id="app"></div>


{% endblock body %}