{% extends 'blog/base.html' %}
{% block body %}

<!-- Start block-->
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'blog:user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
            <div>
                <small class="text-muted"><a href="{{ object.author_link }}">Author's link</a></small>
            </div>

            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}

        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p style="text-align: justify;" class="article-content">{{ object.content }}</p>
    </div>
</article>
<!--EndBlock-->

{% endblock body %}