{% extends 'blog/base.html' %}
{% block body %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#"></a>
            <small class="text-muted"></small>
            <div>
                <small class="text-muted"><a href="#"></a></small>
            </div>
        </div>
        <h3 class="text-center"> You can check my GitHub to see projects codes 
            <div>
                <a href="https://github.com/arad1367/Altrata_task"><button class="btn btn-outline-info btn-lg mt-3" type="submit">Altrata assessment task</button></a>
            </div>
        </h3>
    </div>
</article>
<div class="text-center" id="app"></div>


{% endblock body %}